.container-project {
    width: 100%;
    height: 100vh;
    background: var(--liner-gradient);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 2.25rem;
    padding: 0 .25rem;
    position: relative;

    .title {
        height: 9.375rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 1.25rem;

        h2 {
            font-family: var(--ff-sans);
            font-weight: var(--fw-bold);
            font-size: var(--fs-2xl);
            background-image: var(--liner-gradient-title); 
            background-clip: text; 
            color: transparent; 
            filter: drop-shadow(0rem 0rem 0.0625rem var(--black));
        }
    
        p {
            font-family: var(--ff-sans);
            font-size: var(--fs-sm);
            padding: 0.625rem 0;
        }
    }

    .works {
        width: 100%;
        overflow-x: scroll;
        scrollbar-width: none;
        display: flex;
        flex-direction: row;
        gap: 0.625rem;
        padding: 0.3125rem 0;
        

        .box-work {
            padding: 0.3125rem 0.125rem;

            .work {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                background: var(--black);    
                border-radius: 0.3125rem;
                overflow: hidden;

                p {
                    text-align: center;
                    height: 2.5rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-family: var(--ff-sans);
                    font-size: var(--fs-base);
                    font-weight: var(--fw-md);
                    padding: 0.625rem 0;
                    
                }

                .box-img{

                    width: 12.5rem;
                    height: 100%;
                    border-radius: 0.125rem;

                    img {
                        width: 12.5rem;
                        height: 100%;
                        border-radius: 0.125rem;
                    }

                }

                

                
            }
            
        }
    }

    .project-details-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: var(--black);
        display: flex;
        flex-direction: column;
        padding: 0 1.25rem;
    
        .project-details { 
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            h3 {
                font-family: var(--ff-sans);
                font-weight: var(--fw-bold);
                font-size: var(--fs-2xl);
                background-image: var(--liner-gradient-title); 
                background-clip: text; 
                color: transparent; 
                filter: drop-shadow(0rem 0rem 0.0625rem var(--black));
                text-align: center;
            }
            

            p {
                font-family: var(--ff-sans);
                font-size: var(--fs-base);
                text-align: justify;
                text-indent: 1.25rem;
                overflow-y: scroll;
                height: 50%;
                width: 100%;
                line-height: 135%;
                padding: 0 0.3125rem;
                
            }

            p::-webkit-scrollbar{
                width: 0.3125rem;
                
            }

            p::-webkit-scrollbar-track {
                background: transparent; 
            }

            p::-webkit-scrollbar-thumb:hover {
                background: #b3b3b3;
            }

            .project-links {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                height: 1.875rem;

                a {
                    color: var(--white);
                    

                    .link {
                        height: 1.25rem;
                    }

                    
                }

                a:nth-child(2){

                    .link {
                        height: 1.4375rem;
                        
                    }
                    
                }
            }

            .btn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background: var(--purple-dark);
                    border: none;
                    color: var(--white);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    
                }

                button:hover {
                    filter: drop-shadow(0 0 0.25rem var(--purple-vibrant));
                }
            }

        }

        .project-details:hover {

            p::-webkit-scrollbar-thumb {
                background: var(--purple-vibrant); 
                
            }

        }
    
    }

    .paragraph {
        padding: 0.5rem 1.25rem;
        font-family: var(--ff-sans);
        font-size: var(--fs-sm);
        text-align: center;
    }

}


@media screen and (orientation: landscape) {

    .container-project {
        justify-content: initial;
        row-gap: 0;

        .title {
    
            h2 {
                font-size: var(--fs-2xl);
            }
        
            p {
                font-size: var(--fs-sm);    
            }

        }

        .works {
            height: 37.5rem;
            padding-top: 0;
            padding-bottom: 0;

            .box-work {
                padding: 0;

                .work {
                    padding: 0;
                    gap: 0;

                    p {
                        font-size: var(--fs-base);
                        height: initial;
                        padding: 0.625rem 0;
                    
                    }

                    .box-img {
                        overflow-y: scroll;
                        overflow-x: hidden;
                        
                        img {
                            border-radius: .125rem;
                            height: 25rem;
                            width: 12.5rem;
                            
                        }

                    }

                    .box-img::-webkit-scrollbar{
                        width: 0.2125rem;
                        
                    }
        
                    .box-img::-webkit-scrollbar-track {
                        background: transparent; 
                    }
        
                    .box-img::-webkit-scrollbar-thumb:hover {
                        background: #b3b3b3;
                    }


                }

                .work:hover {

                    .box-img::-webkit-scrollbar-thumb {
                        background: var(--purple-vibrant);    
                        
                    }

                }
                

            }

        }

        .paragraph {
            font-size: var(--fs-sm);
        }
        
    }

}
