.container-skills {
    background: var(--black);
    width: 100%;
    height: 100vh;
    padding: 1.25rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    column-gap: 30px;

    position: relative;

    h2 {
        font-family: var(--ff-sans);
        font-weight: var(--fw-bold);
        font-size: var(--fs-2xl);
        background-image: linear-gradient(to right, #663399, #F4F4F5); 
        background-clip: text; 
        color: transparent; 
        filter: drop-shadow(0px 0px 1px var(--black));
    }

    p:nth-child(2) {
        font-family: var(--ff-sans);
        font-size: var(--fs-sm);
        padding: 10px 0;
    }


    .skills {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p {
            text-indent: 0.3125rem;
            font-family: var(--ff-sans);
            font-size: var(--fs-base);
            font-weight: var(--fw-bold);
            padding: 10px 0;
        }

        ul {
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            li {
                height: 100%;
                width: 2.5rem;
                position: relative;

                span:nth-child(1) {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;

                    .html, .css, .js, .react, .git, .github, .npm {
                        width: 100%;
                        height: 100%;
                    }
                    
                    .html {
                        color: #ff4500;
                    }

                    .css {
                        color: #1572B6;
                    }

                    .js {
                        color: #F7DF1E;
                    }

                    .react {
                        color: #61DAFB;
                    }

                    .git {
                        color: #F05032;
                    }

                    .github {
                        color: #333333;
                    }

                    .npm {
                        color: #CB3837;
                    }

                    .figma {
                        width: 90%;
                        height: 80%;
                        color: #A259FF;
                    }

                }

                
                
            }
        }
    }

    .overlay {
        background: var(--black);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.25rem;


        .certificados-lista {

            h3 {

                font-family: var(--ff-sans);
                font-weight: var(--fw-bold);
                font-size: var(--fs-2xl);
                background-image: linear-gradient(to right, #663399, #F4F4F5); 
                background-clip: text; 
                color: transparent; 
                filter: drop-shadow(0px 0px 1px var(--black)); 
                padding-bottom: 1.25rem;
            }

            ul {
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.625rem;
                justify-content: space-evenly;

                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-family: var(--ff-sans);
                    font-size: var(--fs-base);
                    font-weight: var(--fw-md);
                    letter-spacing: 0.3px;
                    padding: 0 5px ;
                    cursor: pointer;

                    span {
                        padding: 2px 0;
                    }

                }
            }

            .btn {

                width: 100%;
                height: 6.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.625rem;
               

                button {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background: var(--purple-dark);
                    border: none;
                    color: var(--white);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    
                }

                button:hover {
                    filter: drop-shadow(0 0 4px var(--purple-vibrant));
                }
            }

            
        }
        
    }

    .certificado-detalhe {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        background: #00000090;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .description {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: justify;
            align-items: end;
            width: 90%;
            height: 85%;
            font-family: var(--ff-sans);
            line-height: 1.2em;
            letter-spacing: 0.5px;
        }



        .box-btn {
            width: 100%;
            height: 1.875rem;
            display: flex;
            align-items: center;

            
            position: relative;

            .button {
                cursor: pointer;
                position: absolute;
                left: calc(100vw - 2.5rem);
                top: 4.375rem;
                
            }

        }


    }

}

