.container-skills {
    background: var(--black);
    width: 100%;
    height: 100vh;
    padding: 0 1.25rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1.25rem;
    position: relative;

    h2 {
        font-family: var(--ff-sans);
        font-weight: var(--fw-bold);
        font-size: var(--fs-2xl);
        background-image: var(--liner-gradient-title); 
        background-clip: text; 
        color: transparent; 
        filter: drop-shadow(0rem 0rem 0.0625rem var(--black));
    }

    p:nth-child(2) {
        font-family: var(--ff-sans);
        font-size: var(--fs-sm);
        padding: 0.625rem 0;
    }

    .skills {
        height: 6.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p {
            text-indent: 0.3125rem;
            font-family: var(--ff-sans);
            font-size: var(--fs-base);
            font-weight: var(--fw-bold);
            padding: 0.625rem 0;
        }

        ul {
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            li {
                height: 100%;
                width: 3.5rem;
                border-radius: 0.125rem;
                position: relative;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--liner-gradient);


                span {
                    display: flex;
                    align-items: center;
                    height: 3.125rem;
                    width: 2.5rem;
                    overflow: hidden;
                

                    .html, .css, .js, .react, .git, .github, .npm, .logic, .certificate {
                        width: 100%;
                        height: 100%;
                        filter: drop-shadow(0 0 2px var(--black));
                    }
                    
                    .html {
                        color: #ff4500;
                        
                    }

                    .css {
                        color: #1572B6;
                    }

                    .js {
                        color: #F7DF1E;
                    }

                    .react {
                        color: #61DAFB;
                    }

                    .git {
                        color: #F05032;
                    }

                    .github {
                        color: #333333;
                    }

                    .npm {
                        color: #CB3837;
                    }

                    .figma {
                        width: 90%;
                        height: 70%;
                        color: #A259FF;
                    }

                    .logic {
                        color: #007BFF;
                    }

                    .certificate {
                        color: #FFD700;
                    }
                }

                
                
            }

            li:hover {
                box-shadow: 0rem 0rem 0.625rem var(--purple-vibrant);
            }
        }
    }

    .overlay {
        background: var(--black);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 1.25rem;


        .certificados-lista {
            display: flex;
            height: 90%;
            flex-direction: column;
            justify-content: space-between;

            h3 {

                font-family: var(--ff-sans);
                font-weight: var(--fw-bold);
                font-size: var(--fs-2xl);
                background-image: linear-gradient(to right, #663399, #F4F4F5); 
                background-clip: text; 
                color: transparent; 
                filter: drop-shadow(0rem 0rem 0.0625rem var(--black)); 
                padding-bottom: 1.25rem;
            }

            ul {
                height: 100%;
                height: 70vh;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.625rem;
                overflow-y: scroll;

                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    font-family: var(--ff-sans);
                    font-size: var(--fs-base);
                    font-weight: var(--fw-md);
                    letter-spacing: 0.0188rem;
                    padding: 0 0.3125rem ;
                    cursor: pointer;

                    span {
                        padding: 0.125rem 0;
                    }

                }
            }

            ul::-webkit-scrollbar{
                width: 0.3125rem;   
            }

            ul::-webkit-scrollbar-track {
                background: transparent; 
            }

            .btn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    background: var(--purple-dark);
                    border: none;
                    color: var(--white);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    
                }

                button:hover {
                    filter: drop-shadow(0 0 0.25rem var(--purple-vibrant));
                }
            }
 
        }

        .certificados-lista:hover {

            ul::-webkit-scrollbar-thumb {
                background: var(--purple-vibrant); 
                
            }

        }
        
    }

    .box-details-certificate {
        width: 100%;
        height: 100vh;
        background: #000000eb;
        padding: 1.25rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .certificado-detalhe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            margin: auto;            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
        }

        .box-btn {
            width: 100%;
            height: 1.875rem;
            display: flex;
            align-items: center;
            position: relative;
    
            .button {
                cursor: pointer;
                position: absolute;
                left: calc(100vw - 3.5rem);
                top: 0;
                z-index: 1;
                padding: 0 0 0.9375rem 0;
                
            }
    
        }

        .description {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: justify;
            align-items: center;
            width: 100%;
            height: 100%;
            font-family: var(--ff-sans);
            line-height: 1.2em;
            letter-spacing: 0.0313rem;
            padding-top: 1.875rem;

        }

        .titulo-certificado-detalhe {
            font-family: var(--ff-sans);
            font-weight: var(--fs-base);
            text-align: center;
            position: absolute;
            top: 80vh;
            width: 90%;
        }

        
    }

}

