.container-header {
    width: 100%;
    height: 100vh;
    background: var(--liner-gradient);
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.0625rem solid var(--purple);

    .box-header {
        display: flex;
        flex-direction: row;
        height: 18rem;
        width: 100%;
        padding: 0 0.625rem;
        position: relative;

        .titulo {
            color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            h1 {
                height: 3.375rem;
                padding: 2.5rem 0;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                letter-spacing: 0.0625rem;
                font-family: var(--ff-sans);
                font-size: var(--fs-lg);
                color: var(--white);
                text-shadow: 0.0625rem 0.0625rem 0.125rem var(--black);
                

                span {
                    padding: 0.625rem 0;
                    letter-spacing: 0;
                    font-family: var(--ff-sans);
                    font-size: var(--fs-base);
                    color: var(--white);
                    font-weight: var(--fw-md);
                }

            }

            h2 {
                width: 100%;
                padding-bottom: 1.25rem;
                letter-spacing: 0.0313rem;
                font-size: var(--fs-3xl);
                font-family: var(--ff-sans);
                font-weight: 800;
                background-image: var(--liner-gradient-title); 
                background-clip: text; 
                color: transparent; 
                filter: drop-shadow(0rem 0rem 0.0625rem var(--black));
            }


        }

        .img {
            height: 6.25rem;
            width: 6.25rem;
            border-radius: 0.625rem;
            position: absolute;
            left: calc(100vw - 8.5rem);
            top: 2.7rem;
            transform: rotate(45deg);
            box-shadow: 0.0625rem 0.0625rem 0.125rem var(--black);
            overflow: hidden;
        
            img {
                width: 9.375rem;
                height: 9.375rem;
                margin-top: -1.5625rem;
                margin-left: -1.25rem;
                transform: rotate(-45deg);
                background: var(--white);
                outline: 0.125rem solid var(--purple);
            }

        }


    }

    .about {
        display: flex;
        align-items: center;
        
        padding: 0 0.625rem;
        width: 100%;
        height: 6.25rem;
        font-weight: 500;
        line-height: 115%;
        font-family: var(--ff-sans);
        font-size: var(--fs-base);
        color: var(--white);
        font-weight: var(--fw-md);
    }

    .link-social {
        width: 100%;
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: right;

        .box-links {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            li {
                list-style: none;
                height: 2.5rem;
                width: 2.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 624.9375rem;

                a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 624.9375rem;
                    background: var(--purple-vibrant);

                    .github {
                        color: var(--purple-vibrant);
                        background: var(--purple);
                        width: 100%;
                        height: 100%;
                        border-radius: 624.9375rem;

                    }

                    .linkedin {
                        color: var(--purple);
                        width: 90%;
                        height: 70%;
                        border-radius: 624.9375rem;
                    }
                }

            }

            li:hover {
                filter: drop-shadow(0 0 0.25rem var(--purple-vibrant));
            }


        }
        
    }

    .navigation {
        width: 100%;
        height: 1.875rem;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;

        .box-links {
            width: 90%;
            height: 1.875rem;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            li {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                outline: 0.0625rem solid var(--purple-vibrant);
  
                padding: 0.3125rem 0.625rem;
                border-radius: 624.9375rem;
                background: var(--liner-gradient-btn);

                span {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    color: var(--white);
                    font-family: var(--ff-sans);
                    font-size: var(--fs-sm);
                    font-weight: var(--fw-bold);
                    text-transform: uppercase;
                    cursor: pointer;
                }

                span:hover {
                    filter: drop-shadow(0 0 0.125rem var(--black)) ;
                }
                
            }

            li:active {
                transform: translateY(0.125rem);
            }

            
        }
    }

}

