.container-header {
    width: 100%;
    height: 100vh;
    background: var(--liner-gradient);
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.0625rem solid var(--purple);

    .language {
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        z-index: 10;
        width: 6.875rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:  right;

        span {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;

            .world {
                color: var(--white);
                position: absolute;
                top: 0;
                left: 0.125rem;
            }
        }

        select {
            width: 100%;
            text-align: center;
            background: transparent;
            color: var(--white);
            border: none;
            font-family: var(--ff-sans);
            appearance: none;

            option {
                width: 100%;
                color: var(--white);
                background: var(--purple);
            }
        }

        select:focus {
            outline: none;
        }

    }

    .box-header {
        display: flex;
        flex-direction: row;
        height: 18rem;
        width: 100%;
        padding: 0 0.625rem;
        position: relative;

        .titulo {
            color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            h1 {
                height: 3.375rem;
                padding: 2.5rem 0;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                letter-spacing: 0.0625rem;
                font-family: var(--ff-sans);
                font-size: var(--fs-lg);
                color: var(--white);
                text-shadow: 0.0625rem 0.0625rem 0.125rem var(--black);
                

                span {
                    padding: 0.625rem 0;
                    letter-spacing: 0;
                    font-family: var(--ff-sans);
                    font-size: var(--fs-base);
                    color: var(--white);
                    font-weight: var(--fw-md);
                }

            }

            h2 {
                width: 100%;
                padding-bottom: 1.25rem;
                letter-spacing: 0.0313rem;
                font-size: var(--fs-3xl);
                font-family: var(--ff-sans);
                font-weight: 800;
                background-image: var(--liner-gradient-title); 
                background-clip: text; 
                color: transparent; 
                filter: drop-shadow(0rem 0rem 0.0625rem var(--black));
            }


        }

        .img {
            
            height: 6.25rem;
            width: 6.25rem;
            border-radius: 0.625rem;
            position: absolute;
            left: calc(100vw - 8.5rem);
            top: 2.7rem;
            transform: rotate(45deg);
            overflow: hidden;
            box-shadow: 0 0 0.625rem var(--purple-vibrant);
                
        
            img {
                width: 9.375rem;
                height: 9.375rem;
                margin-top: -1.5625rem;
                margin-left: -1.25rem;
                transform: rotate(-45deg);
                background: var(--white);
                outline: 0.125rem solid var(--purple);
            }

        }


    }

    .about {
        display: flex;
        align-items: center;
        
        padding: 0 0.625rem;
        width: 100%;
        height: 6.25rem;
        font-weight: 500;
        line-height: 115%;
        font-family: var(--ff-sans);
        font-size: var(--fs-base);
        color: var(--white);
        font-weight: var(--fw-md);
    }

    .link-social {
        width: 100%;
        height: 3.125rem;
        display: flex;
        align-items: center;
        justify-content: right;

        .box-links {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            li {
                list-style: none;
                height: 2.5rem;
                width: 2.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 624.9375rem;
                outline:  0.0625rem solid var(--purple-vibrant);
                overflow: hidden;

                a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 624.9375rem;
                    background: var(--purple-vibrant);

                    .github {
                        color: var(--purple-vibrant);
                        background: var(--purple);
                        width: 110%;
                        height: 110%;
                        border-radius: 624.9375rem;
                        

                    }

                    .linkedin {
                        color: var(--purple);
                        width: 100%;
                        height: 70%;
                        border-radius: 624.9375rem;
                    }
                }

            }

            li:hover {
                filter: drop-shadow(0 0 0.25rem var(--purple-vibrant));
            }

            li:focus {
                outline: none;
            }


        }
        
    }

    .navigation {
        width: 100%;
        height: 1.875rem;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;

        .box-links {
            width: 90%;
            height: 1.875rem;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            li {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                outline: 0.0625rem solid var(--purple-vibrant);
  
                padding: 0.3125rem 0.625rem;
                border-radius: 624.9375rem;
                background: var(--liner-gradient-btn);

                span {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    color: var(--white);
                    font-family: var(--ff-sans);
                    font-size: var(--fs-sm);
                    font-weight: var(--fw-bold);
                    text-transform: uppercase;
                    cursor: pointer;
                }

                span:hover {
                    filter: drop-shadow(0 0 0.125rem var(--black)) ;
                }
                
            }

            li:active {
                transform: translateY(0.125rem);
            }

            
        }
    }

}

@media screen and (min-width: 41.6875rem) and (max-width: 61.9375rem) and (orientation: landscape) {
    
    .container-header {
        align-items: flex-start;
        height: 100vh;
        padding: 0.625rem 0 0;
        width: 100%;
        justify-content: initial;

        .box-header {
            height: 13rem;
            padding: 0 .625rem;

            .titulo {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
                row-gap: 1.875rem;
                width: 22.75rem;
    
                h1 {
                    padding: 0 0;
                    font-family: var(--ff-sans);
                    
                    span {
                        font-size: var(--fs-base);
    
                    }
    
                }
    
                h2 {
                    padding-bottom: 0;
                    font-size: var(--fs-3xl);
                    font-family: var(--ff-sans);
                    
                }
    
    
            }
    
            .img {
                box-shadow: 0 0 .625rem var(--purple-vibrant);
                height: 11rem;
                position: absolute;
                right: 5.625rem;
                top: 3rem;
                width: 11rem;
                left: initial;
                
            
                img {
                    width: 16rem;
                    height: 16rem;
                    margin-top: -3rem;
                    margin-left: -2.5rem;

                }
    
            }
    
    
        }
    
        .about {
            height: 20%;
            font-size: var(--fs-sm);
            padding: 0 .625rem;
            width: 55%;

        }
    
        .link-social {
            display: flex;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 14rem;
            width: 22.5rem;

            .box-links {
                width: 100%;
                justify-content: space-around;
                
                li {
                    
                    a {
                        
                        .github {
                            width: 110%;
                            height: 110%;
                            
                        }
    
                        .linkedin {
                            width: 100%;
                            height: 70%;
                        }
                    }
    
                }
    
                li:hover {
                    filter: drop-shadow(0 0 0.25rem var(--purple-vibrant));
                }
    
                li:focus {
                    outline: none;
                }
    
    
            }
            
        }
    
        .navigation {
            
            .box-links {
                width: 21.875rem;
                
                li {
                    width: 40%;
                    
                    span {
                        font-size: var(--fs-sm);
                        
                    }
    
                    span:hover {
                        filter: drop-shadow(0 0 0.125rem var(--black)) ;
                    }
                    
                }
    
                li:active {
                    transform: translateY(0.125rem);
                }
        
            }

        }
    
    }

}


@media screen and (min-width: 48rem) and (min-height: 34.375rem) { /*Tablet*/

    .container-header {
        height: 100vh;
        padding: initial;
        width: 100%;

        .box-header {
            display: flex;
            flex-direction: row;
            height: 20rem;
            padding: 0 0.625rem;
            position: relative;
            width: 100%;

            .titulo {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                height: 100%;
                row-gap: 2.875rem;
                width: 26.75rem;
                justify-content: space-between;
    
                h1 {
                    font-family: var(--ff-sans);
                    padding: 0 1.875rem;
                    height: 6rem;
                    font-size: var(--fs-2xl);
                    
                    span {
                        font-size: var(--fs-lg);
    
                    }
    
                }
    
                h2 {
                    font-family: var(--ff-sans);
                    font-size: var(--fs-3xl);
                    padding: 1.5625rem 0rem 1.5625rem 1.375rem;
                    height: 11rem;
                    line-height: 5rem;
                    
                }
    
    
            }
    
            .img {
                box-shadow: 0 0 .625rem var(--purple-vibrant);
                height: 15rem;
                left: 60vw;
                position: absolute;
                top: 2.625rem;
                width: 15rem;
                transform: rotate(-44deg);
                
            
                img {
                    height: 36rem;
                    margin-left: -4rem;
                    margin-top: -10rem;
                    width: 24rem;
                    transform: rotate(44deg);

                }
    
            }
    
    
        }
    
        .about {
            align-items: center;
            display: flex;
            font-size: var(--fs-xl);
            line-height: 135%;
            width: 95%;
            padding: 0 0 0 1.5625rem;
            height: 8.125rem;
            

        }
    
        .link-social {
            width: 100%;
            padding-bottom: 1.25rem;

            .box-links {
                width: 100%;
                height: 7rem;
                
                li {
                    height: 4rem; 
                    width: 4rem;
                    
                    a {
                        
                        .github {
                            width: 110%;
                            height: 110%;
                            
                        }
    
                        .linkedin {
                            width: 100%;
                            height: 70%;
                        }
                    }
    
                }
    
                li:hover {
                    filter: drop-shadow(0 0 0.25rem var(--purple-vibrant));
                }
    
                li:focus {
                    outline: none;
                }
    
    
            }
            
        }
    
        .navigation {
            align-items: center;
            display: flex;
            flex-direction: row;
            height: 1.875rem;
            justify-content: center;
            width: 100%;
            
            .box-links {
                width: 100%;
            
                
                li {
                    width: 40%;
                    height: 3rem;
                    
                    span {
                        font-size: var(--fs-lg);
                        
                    }
    
                    span:hover {
                        filter: drop-shadow(0 0 0.125rem var(--black)) ;
                    }
                    
                }
    
                li:active {
                    transform: translateY(0.125rem);
                }
        
            }

        }
    
    }

}

@media screen and (min-width: 64rem) and (min-height: 34.375rem) 
{ /* Desktop */
    .container-header {
        height: 100vh;
        padding: initial;
        width: 100%;
        padding-bottom: 1.25rem;

            
        .box-header {
            display: flex;
            flex-direction: row;
            height: 23rem;
            padding: 0;
            position: relative;
            width: 100%;

            

            .titulo {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                height: 100%;
                row-gap: 1rem;
                width: 38.4375rem;
                justify-content: initial;
                padding: 2.25rem 0;

                h1 {
                    font-family: var(--ff-sans);
                    padding: 0 1.875rem;
                    height: 6rem;
                    font-size: var(--fs-2xl);
                    
                    span {
                        font-size: var(--fs-lg);
    
                    }
    
                }
    
                h2 {
                    font-family: var(--ff-sans);
                    font-size: var(--fs-3xl);
                    padding: 1.5625rem 0rem 1.5625rem 1.375rem;
                    height: 11rem;
                    line-height: 5rem;
                    
                }
    
    
            }
    
            .img {
                box-shadow: 0 0 .625rem var(--purple-vibrant);
                height: 15rem;
                left: 60vw;
                position: absolute;
                top: 4.5rem;
                width: 15rem;
                transform: rotate(-44deg);
                
            
                img {
                    height: 36rem;
                    margin-left: -4rem;
                    margin-top: -10rem;
                    width: 24rem;
                    transform: rotate(44deg);

                }
    
            }
    
    
        }
    
        .about {
            align-items: center;
            display: flex;
            font-size: var(--fs-xl);
            line-height: 135%;
            width: 100%;
            padding: 0 2.5rem 0 1.5625rem;
            height: 8.125rem;
            

        }
    
        .link-social {
            width: 100%;
            padding-bottom: 3rem;

            .box-links {
                width: 70%;
                height: 7rem;
                
                
                li {
                    height: 4rem; 
                    width: 4rem;
                    
                    a {
                        
                        .github {
                            width: 110%;
                            height: 110%;
                            
                        }
    
                        .linkedin {
                            width: 100%;
                            height: 70%;
                        }
                    }
    
                }
    
                li:hover {
                    filter: drop-shadow(0 0 0.25rem var(--purple-vibrant));
                }
    
                li:focus {
                    outline: none;
                }
    
    
            }
            
        }
    
        .navigation {
            align-items: center;
            display: flex;
            flex-direction: row;
            height: 1.875rem;
            justify-content: right;
            width: 100%;
            
            .box-links {
                width: 70%;
            
                
                li {
                    width: 18.75rem;
                    height: 3rem;
        
                    span {
                        font-size: var(--fs-lg);
                        
                    }
    
                    span:hover {
                        filter: drop-shadow(0 0 0.125rem var(--black)) ;
                    }
                    
                }
    
                li:active {
                    transform: translateY(0.125rem);
                }
        
            }

        }
    
    }
}
